<<<<<<< HEAD
body{
    margin: 0;
    font-family: "Poppins";
    background-color: #f6f6f6;
    height: 100vh;
=======
body{
    margin: 0;
    font-family: "Poppins";
    background-color: #f6f6f6;
    height: 100vh;
>>>>>>> c242d57 (admin and backend)
}